:host {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-wrapper {
    position: relative;
    width: 100%;
}

.banner-aspect {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

@media (min-width: 1200px) {
    .banner-aspect {
        aspect-ratio: 4 / 1;
    }
}

.banner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mobile-view {
    display: block !important;
}

.desktop-view {
    display: none !important;
}

@media (min-width: 1200px) {
    .mobile-view {
        display: none !important;
    }

    .desktop-view {
        display: block !important;
    }
}

.banner-link {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

.banner-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.slide.active {
    opacity: 1;
}