<app-banner></app-banner>

<app-category-carousel></app-category-carousel>

<app-offer-carousel></app-offer-carousel>

@for (category of homeCategories(); track category.id; let i = $index) {
<app-category-products-carousel [title]="category.name" [description]="category.description"
    [products]="getCategoryProducts(category.id)" [categoryPath]="'/produtos?category=' + category.id"
    [useAltBackground]="homeCategories().length > 1 && i % 2 === 1">
</app-category-products-carousel>
}

<app-home-products-grid></app-home-products-grid>

<app-home-promotions-banner></app-home-promotions-banner>

<app-newsletter-section></app-newsletter-section>