<div class="space-y-4">
    <div class="p-1">
        <p class="text-slate-600 text-center text-lg">
            Tem certeza que deseja remover <strong>{{ itemName() }}</strong>?
        </p>
        <p class="text-center text-sm text-red-500 font-medium mt-2">
            Esta ação não pode ser desfeita.
        </p>
    </div>

    <div class="flex justify-end gap-2 pt-4 mt-6 border-t border-slate-200">
        <button (click)="cancel.emit()"
            class="px-4 py-2 text-sm cursor-pointer font-medium text-slate-700 bg-white border border-slate-300 rounded-lg hover:bg-slate-50 transition-colors">
            Cancelar
        </button>
        <button (click)="confirm.emit()"
            class="px-4 py-2 text-sm cursor-pointer font-medium text-white bg-red-600 rounded-lg hover:bg-red-700 transition-colors shadow-sm">
            Sim, Excluir
        </button>
    </div>
</div>