:host {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-wrapper {
    position: relative;
    width: 100%;
}

.banner-aspect {
    position: relative;
    padding-bottom: 62.14%;
    width: 100%;
}

@media (min-width: 1200px) {
    .banner-aspect {
        padding-bottom: 56.25%;
    }
}

.banner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.7s ease-in-out;
}

.slide.active {
    opacity: 1;
    position: relative;
}