@if (banners().length > 0) {
<div class="banner-wrapper">
    <div class="banner-aspect">
        <div class="banner-container block min-[1200px]:hidden">
            @for (banner of banners(); track banner.id; let i = $index) {
            <div class="slide" [class.active]="currentIndex() === i">
                @if (banner.imageMobile) {
                <img [ngSrc]="backendUrl + '/' + banner.imageMobile"
                    [width]="getResolution(banner.resolutionMobile, true).width"
                    [height]="getResolution(banner.resolutionMobile, true).height" [alt]="banner.title"
                    [priority]="i === 0" class="banner-img" ngSkipSizeCheck>
                } @else if (banner.imageDesktop) {
                <img [ngSrc]="backendUrl + '/' + banner.imageDesktop"
                    [width]="getResolution(banner.resolutionDesktop).width"
                    [height]="getResolution(banner.resolutionDesktop).height" [alt]="banner.title" [priority]="i === 0"
                    class="banner-img" ngSkipSizeCheck>
                }
            </div>
            }
        </div>

        <div class="banner-container hidden min-[1200px]:block">
            @for (banner of banners(); track banner.id; let i = $index) {
            <div class="slide h-[562.5px]" [class.active]="currentIndex() === i">
                @if (banner.imageDesktop) {
                <img [ngSrc]="backendUrl + '/' + banner.imageDesktop"
                    [width]="getResolution(banner.resolutionDesktop).width"
                    [height]="getResolution(banner.resolutionDesktop).height" [alt]="banner.title" [priority]="i === 0"
                    class="banner-img" ngSkipSizeCheck>
                } @else if (banner.imageMobile) {

                <img [ngSrc]="backendUrl + '/' + banner.imageMobile"
                    [width]="getResolution(banner.resolutionMobile, true).width"
                    [height]="getResolution(banner.resolutionMobile, true).height" [alt]="banner.title"
                    [priority]="i === 0" class="banner-img" ngSkipSizeCheck>
                }
            </div>
            }
        </div>
    </div>
</div>
}